.DS_Store
.cache
.data
.eslintcache
.unlighthouse
.output

node_modules
dist
build
output
coverage

logs
*.log*

*.env*
.flaskenv*
!.env.*.example
!.env.project
!.env.vault

.nx/cache
.nx/workspace-data
